-e git://github.com/rrader/aio_manager.git@master#egg=aio_manager
aiohttp==0.17.4
aiohttp-jinja2==0.5.0
-e git://github.com/rrader/aiopg.git@metadata#egg=aiopg
alembic==0.8.3
chardet==2.3.0
colorama==0.3.3
decorator==4.0.4
ipython==4.0.0
ipython-genutils==0.1.0
Jinja2==2.8
Mako==1.0.2
MarkupSafe==0.23
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
psycopg2==2.6.1
ptyprocess==0.5
python-editor==0.4
simplegeneric==0.8.1
SQLAlchemy==1.0.8
traitlets==4.0.0
wheel==0.24.0
